// Comment.vue

<template>
  <div class="container" id="rout">
  
		  <table class="table table-hover">
			  <thead>
				  <tr>
					  <th>Name</th>
					  <th>Comment</th> 
					  <th>Status</th>
					  <th>Brisanje</th>
				  </tr>
			  </thead>
			  <tbody>
				  <tr v-for="comment in comments" :key="comment.id">
					  <td>{{ comment.name}}</td>
					  <td>{{ comment.body }}</td>
					  <td><button class="b-primary" @click.prevent="ApproveComment(comment.id)">Approve</button></td>
					  <td><button class="b-primary" @click.prevent="deleteComment(comment.id)">Delete</button></td>
				  </tr>
			  </tbody>
		  </table>
	  </div>
</template>

<script>
	import Swal from 'sweetalert2/dist/sweetalert2.js'
	import 'sweetalert2/src/sweetalert2.scss'
  export default {
	  data() {
		  return {
			isLoggedIn : null,
			comments: [],       
		  comment:{
		  id: '',
		  name: '',
		  body: '',
		  status: ''
		  },
			comment_id: '',
		  
 

		}
		},
		mounted() {
			  this.isLoggedIn = localStorage.getItem('blog.mdi.in.rs.jwt') != null;
		},
	  created() {
		  this.NotAppComments();
		 
	},
	methods: {
	  NotAppComments()  {
		let uri = '/api/comment';

	  this.axios.get(uri).then(response => {
		this.comments = response.data.comment;
	  });
	},
	  deleteComment(id) 
	  {
		const swalWithBootstrapButtons = Swal.mixin({
					customClass: {
						confirmButton: 'btn btn-success',
						cancelButton: 'btn btn-danger'
					},
					buttonsStyling: false
				})

				swalWithBootstrapButtons.fire({
					title: 'Da li ste sigurni ?',
					text: "Zelite da obrisete ovaj komentar!",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Da, obrisi ga!',
					cancelButtonText: 'Ne!',
					reverseButtons: true
				}).then((result) => {
					if (result.value) {
			let uri = `/api/comment/delete/${id}`;
			this.axios.delete(uri).then(response => {
			  swalWithBootstrapButtons.fire(
								'Obrisan!',
								'Komentar je obrisan.',
								'success'
							)
			  this.NotAppComments();

			});  
		  }
		})
		},
	  
		 ApproveComment(id) {   
			 let uri = `/api/comment/update/${id}`;
			 this.axios.post(uri).then((response) => {                  
			 this.NotAppComments();
			  Swal.fire({
							position: 'top-end',
							icon: 'success',
							title: 'Komentar je objavljen!',
							showConfirmButton: false,
							timer: 1500
						})
					 this.NotAppComments();	
			 });
			 }
		  
		}

	}

</script>
