// IndexComponent.vue

<template>
	<div > 
	  <section id="rout" class="blog" v-if="show">
			<div class="container">	
				<div class="row">
					 
					<div class="col-lg-8 entries vld-parent" >
						<div class="row">
						   <button class="cancel" @click.prevent="hidePost()">Povratak na prethodnu stranu</button>						   
						</div>
						<br><br><br><br> 
						<article class="entry entry-single">
							<div class="entry-img">
								<img class="d-block w-100" :src="image_src+post.image">
								
							</div>

							<h2 class="entry-title">
								<h1>{{post.title}}</h1>
							</h2>

							<div class="entry-meta">
								<ul>
									<li class="d-flex align-items-center"><i class="fa fa-user"></i> {{post.author}}</li>
									<li class="d-flex align-items-center"><i class="fa fa-wall-clock"></i> <time datetime="2020-01-01">{{post.created_at}}</time></li>
									<li class="d-flex align-items-center"><i class="fa fa-comment"></i></li>
								</ul>
							</div>

							<div class="entry-content">
								<div class="tekst" v-html="post.content"></div>
							</div>

							<div class="entry-footer clearfix " > 
							 
												<div class="float-left" >
													<i class="fa fa-list-alt" ></i>
											
									<ul class="tags" v-for="(category,index) in categories"
									 @key="index">



										<li v-if="category.id == post.category_id" data-aos-duration="5000">
											<a :href="$router.resolve({name:'category', params: {id: category.id}}).href">{{category.kategorija}}</a>
										</li>
									</ul>
												&nbsp;&nbsp;<i class="fa fa-tags" data-aos-duration="5000"></i>
											   
												 <ul class="tags" v-for="(tagPost,index) in post.tags"
											 @key="index">
													<li>
														&nbsp;<a :href="$router.resolve({name:'tag', params: {id: tagPost.id}}).href">
															#{{tagPost.tag}}
														</a>
													</li>
											   </ul>							
								</div>								                                          
								<div class="float-right share" data-aos-duration="500">
									<a href="" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
									<a href="" title="Share on Facebook"><i class="fa fa-facebook-square"></i></a>
									<a href="" title="Share on Instagram"><i class="fa fa-instagram"></i></a>
								</div>

							</div>

						</article>
						<div class="blog-comments">
							<div v-if="comments">
							<h4 class="comments-count">{{comments.length}} Comment<span v-if="comments.length > 1">s</span></h4>
							</div>
							<div class="comment clearfix" v-for="comment in post.comments">
								<!-- <img src="assets/img/comments-1.jpg" class="comment-img  float-left" alt="">
		<h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5> -->
								<div v-if="comment.status == 'odobren'">
									<i class="fa fa-user"></i> {{comment.name}}
									<time datetime="2020-01-01">{{comment.created_at}}</time>
									<p>
										{{comment.body}}
									</p>							
								</div>
							</div><!-- End comment #1 -->
							<div class="reply-form">
								<div class="alert-danger r text-center" v-if="error"><h3>{{error}}</h3></div>
								<h4>Leave a Reply</h4>
								<p>Your email address will not be published. Required fields are marked * </p>
								<form @submit.prevent="Comment" novalidate>
									<div class="row">
										<div class="col-md-6 form-group">
											<input name="name" type="text" class="form-control" placeholder="Your Name*" v-model="comment.name">
											<input name="name" type="hidden" v-model="comment.id" value="post.id">
										</div>
										<div class="col-md-6 form-group">
											<input name="email"
												   v-model="comment.email"
												   v-validate="'required|email'"
												   class="form-control"
												   placeholder="Your Email*"
												   type="text">
											<div class="help-block alert alert-danger"
												 v-show="errors.has('email')">
												{{ errors.first('email') }}
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col form-group">
											<input name="website" type="text" class="form-control" placeholder="Your Website" v-model="comment.website">
										</div>
									</div>
									<div class="row">
										<div class="col form-group">
											<textarea name="comment" class="form-control" placeholder="Your Comment*" v-model="comment.body"></textarea>
										</div>
									</div>
									<div class="row">
										<button type="submit" class="b-primary">Pošalji</button><button class="cancel" @click.prevent="hidePost()">Povratak na prethodnu stranu</button>
									</div>
								</form>

							</div>
							</div>
						</div>
					</div><!-- End blog comments -->
				</div>
			</section>
		<div v-if="pocetak">
			<div class="form-group margina">
				<button class="b-primary" @click.prevent="kreirajPost()">Dodaj Post</button>
			</div>
		</div>
			
		<div v-if="form">
			<div v-if="edit">
				<button class="cancel" @click.prevent="clearForm()">Povratak na prethodnu stranu</button><br><br>
				<h1>Izmeni Post: </h1>
				
			</div>
			<div v-else>
				<button class="cancel" @click.prevent="stopForm()">Povratak na prethodnu stranu</button><br>
				<h1>Dodaj Post: </h1>
				
			</div>
			<form @submit.prevent="addPost" enctype="multipart/form-data" novalidate>
				<div class="row text-center">

					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Title" v-model="post.title">
						</div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="Author" v-model="post.author">
						</div>
						<div class="form-group">
							<!-- <textarea rows="10" cols="30" v-model="post.content" class="form-control" placeholder="Content" ></textarea> v-model="editorData" -->
							<ckeditor :editor="editor" :config="editorConfig" v-model="post.content"></ckeditor>
						</div>
						<div class="form-group" v-for="tags in post.tags.tag">
							  <div>{{tags}}</div>
						</div>
						<div class="form-group">
							<b-form-select v-model="post.kategorija"
										   :options="categories"
										   value-field="id"
										   text-field="kategorija"
										   class="mb-3">
								<template v-slot:first>
									<div v-if="edit">
										<div v-for="category in categories">
											<div v-if="category.id === post.kategorija">
												<option :value="category.id">{{category.kategorija}}</option>
											</div>
										</div>
									</div>
									<option v-else :value="null" disabled>-- Please select an option --</option>
								</template>

							</b-form-select>
						</div>
					  
					<div class="form-group">
						<vue-tags-input
					
										v-model="tag" 
										:tags="tags"
										:autocomplete-items="filteredItems"
										@tags-changed="newTags => tags = newTags" />
					</div>
						
					  
						<div class="form-group">
							<b-form-select v-model="post.pozicija" class="mb-3">
								<option v-if="edit" :value="post.pozicija">{{post.pozicija}}</option>
								<option v-else :value="null" disabled>-- Please select an option --</option>
								<option value="pocetna">Pocetna Strana</option>
								<option value="blog">Blog</option>
								<option value="sledi">Sledi</option>
							</b-form-select>
						</div>
						<div class="form-group dropbox">

							<input type="file"
								   @change="fieldChange"
								   accept="image/*"
								   class="input-file" />

							<h5 v-if="image_update">
								Image ready for upload ...
							</h5>
							<h5 v-else>
								Drag your file(s) here to begin<br> or click to browse
							</h5>
						</div>
						<div v-if="edit">
							<b-img v-if="image_update" v-bind="image_size" :src="post.image" fluid alt="Responsive im"></b-img>
							<b-img v-else v-bind="image_size" :src="image_src+post.image" fluid alt="Responsive image"></b-img>

						</div>
					</div>
				</div>
				<br />
				<div class="form-group" v-if="edit">
					<button class="b-primary">Izmeni</button>
					<button class="cancel" @click.prevent="clearForm()">Povratak na prethodnu stranu</button>
				</div>
				<div class="form-group" v-else>
					<button class="b-primary">Kreiraj</button>
					<button class="cancel" @click.prevent="stopForm()">Povratak na prethodnu stranu</button>
				</div>
			</form>

		</div>


		<div v-if="pocetak">
			<br />
			<br />
			<hr />
			<b-row>
				<b-col lg="6" class="my-1">
					<b-form-group label="Sort"
								  label-cols-sm="3"
								  label-align-sm="right"
								  label-size="sm"
								  label-for="sortBySelect"
								  class="mb-0">
						<b-input-group size="sm">
							<b-form-select v-model="sortBy" id="sortBySelect" :options="sortOptions" class="w-75">
								<template v-slot:first>
									<option value="">-- none --</option>
								</template>

							</b-form-select>
							<b-form-select v-model="sortDesc" size="sm" :disabled="!sortBy" class="w-25">
								<option :value="false">Asc</option>
								<option :value="true">Desc</option>
							</b-form-select>
						</b-input-group>
					</b-form-group>
				</b-col>

				<b-col lg="6" class="my-1">
					<b-form-group label="Initial sort"
								  label-cols-sm="3"
								  label-align-sm="right"
								  label-size="sm"
								  label-for="initialSortSelect"
								  class="mb-0">
						<b-form-select v-model="sortDirection"
									   id="initialSortSelect"
									   size="sm"
									   :options="['asc', 'desc', 'last']"></b-form-select>
					</b-form-group>
				</b-col>

				<b-col lg="6" class="my-1">
					<b-form-group label="Filter"
								  label-cols-sm="3"
								  label-align-sm="right"
								  label-size="sm"
								  label-for="filterInput"
								  class="mb-0">
						<b-input-group size="sm">
							<b-form-input v-model="filter"
										  type="search"
										  id="filterInput"
										  placeholder="Type to Search"></b-form-input>
							<b-input-group-append>
								<b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
							</b-input-group-append>
						</b-input-group>
					</b-form-group>
				</b-col>

				<b-col lg="6" class="my-1">
					<b-form-group label="Filter On"
								  label-cols-sm="3"
								  label-align-sm="right"
								  label-size="sm"
								  description="Leave all unchecked to filter on all data"
								  class="mb-0">
						<b-form-checkbox-group v-model="filterOn" class="mt-1">
							<b-form-checkbox value="title">Title</b-form-checkbox>
							<b-form-checkbox value="author">Author</b-form-checkbox>
							<b-form-checkbox value="content">Content</b-form-checkbox>
						</b-form-checkbox-group>
					</b-form-group>
				</b-col>

				<b-col sm="5" md="6" class="my-1">
					<b-form-group label="Per page"
								  label-cols-sm="6"
								  label-cols-md="4"
								  label-cols-lg="3"
								  label-align-sm="right"
								  label-size="sm"
								  label-for="perPageSelect"
								  class="mb-0">
						<b-form-select v-model="perPage"
									   id="perPageSelect"
									   size="sm"
									   :options="pageOptions"></b-form-select>
					</b-form-group>


				</b-col>


			</b-row>

			<b-table show-empty
					 small
					 stacked="md"
					 striped hover
					 :items="posts"
					 :fields="fields"
					 :current-page="currentPage"
					 :per-page="perPage"
					 :filter="filter"
					 :filterIncludedFields="filterOn"
					 :sort-by.sync="sortBy"
					 :sort-desc.sync="sortDesc"
					 :sort-direction="sortDirection"
					 @filtered="onFiltered">
				<template v-slot:cell(content)="row">
					<div v-html="trim(row.item.content)"></div>
					<!--{{row.item.content | truncate(60, '...')}} -->
				</template>
				<template v-slot:cell(action)="row">
					<button size="sm" @click="editPost(row.item)" class="ml-3 b-primary" variant="">
						Izmeni
					</button><br>
					<button size="sm" @click="showPost(row.item)" class="ml-3 b-primary" variant="">
						Pregledaj
					</button><br>
					<button size="sm" @click="deletePost(row.item.id)" class="ml-3 b-primary" variant="">
						Obriši
					</button>
					
				</template>
			</b-table>
			<b-col sm="7" md="6" class="my-1">
				<b-pagination v-model="currentPage"
							  :total-rows="totalRows"
							  :per-page="perPage"
							  align="fill"
							  size="sm"
							  class="my-0"></b-pagination>
			</b-col>
		</div>
	</div>
</template>
<style scope>
	h5 {
	color: white !important;
	}
	p {
		color: black;
	}

	.b-primary {
		width: 100px;
	}


  
	 .vue-tags-input .ti-tag  {
	background: #1E4356 !important;
  }
	 .vue-tags-input .ti-tag:hover  {
	background: #4A6877 !important;
  }

   .vue-tags-input .ti-item.ti-selected-item {
	  background: #1E4356 !important;
  }
   
</style>
<script>
	import VueTagsInput from '@johmun/vue-tags-input';
	import CKEditor from '@ckeditor/ckeditor5-vue';
	import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
	import Swal from 'sweetalert2/dist/sweetalert2.js'
	import 'sweetalert2/src/sweetalert2.scss'
	
   
	export default {
 
		components: {
			// Use the <ckeditor> component in this view.
			ckeditor: CKEditor.component,
			'vue-tags-input': VueTagsInput,
			
		},
		props: ['unique'],
		data() {
			return {
				currentFocus: '',
				autocomplete: '',
				onBlur: true,
				onFocus: false,
				tag: '',
				tags: [], 
				t: [],
				autocompleteItems:[],
				name: null,			   
				surname: null,
				editor: ClassicEditor,
				//    editorData: '<p>Content of the editor.</p>',
				editorConfig: {
					// The configuration of the editor.
				},
				form: false,
				image_size: { width: 200, height: 200, class: 'm1' },
				image_src: '/uploads/images/',
				image_update: false,
				posts: [],
				post: {
					id: '',
					title: '',
					author: '',
					content: '',
					category_id: '',
					position: '',
					image: '',
					tags: [],
					comments: []					
				},
				category: {
					id: '',
					kategorija: ''
				},											 
				categories: [],
				fields: [
					{ key: 'title', label: 'Title', sortable: true, sortDirection: 'asc' },
					{ key: 'author', label: 'Author', sortable: true, sortDirection: 'asc' },
					{ key: 'content', label: 'Content', sortable: true, sortDirection: 'asc' },
					'action'],
				post_id: '',
				pocetak: true,
				edit: false,
				totalRows: 1,
				currentPage: 1,
				perPage: 5,
				pageOptions: [5, 10, 15],
				sortBy: '',
				sortDesc: false,
				sortDirection: 'asc',
				filter: null,
				filterOn: [],
				autoComplete: '',
				status: 'odobren',
				comments: [],
				tag: '',
				tagPost:  {
					id: '',
					tag: ''		
				},
				comment: {
					id: '',
					status: '',			
					name: '',
					body: '',
					created_at: ''
				},
				show: false,
				error: ''
			}
		},
	 
		created() {  		
			this.sviPostovi(); 		 
		},
		filters: {
			truncate: function (content, length, suffix) {
				return content.substring(0, length) + suffix;
			}
		},
		computed: {
		  
			  filteredItems() {
	  return this.autocompleteItems.filter(i => {
		return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
	  });
	},
			sortOptions() {
					// Create an options list from our fields
					return this.fields
					.filter(f => f.sortable)
					.map(f => {
						return { text: f.label, value: f.key }
					})
			  }
		},
		mounted() {		 
			// Set the initial number of items
			this.totalRows = this.posts.length
		},	  
		methods: {
			postAdmin(id) {
			   let uri =`/api/post/show/${id}`;
				this.axios.get(uri, {
					headers: {
						'Access-Control-Allow-Origin': '*',
					}
				}).then(response => {

					this.post = response.data.post;
					this.comment.name = null;
					this.comment.email = null;
					this.comment.website = null;
					this.comment.body = null;
				});
			},
			Comment() {
				this.$validator.validateAll().then((result) => {                
					if (!result) {
						this.error = "Please enter valid data!";
						return;
					}
					let uri = '/api/comment/create';
					let post_id = this.post.id
					let name = this.comment.name
					let email = this.comment.email
					let website = this.comment.website
					let body = this.comment.body
					let status = this.status
					this.axios.post(uri, { name, email, website, body, post_id, status }, {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then((response) => {

						Swal.fire({
							position: 'top-end',
							icon: 'success',
							title: 'Komentar je dodat!',
							showConfirmButton: false,
							timer: 1500
						})
						this.postAdmin(post_id);
					});
				  })
				},

			trim(str) {
				return str.split(' ').slice(0, 15).join(" ") + "...";

			},
			//Upload deo
			fieldChange(e) {

				let selectedFile = new FileReader();
				selectedFile.readAsDataURL(e.target.files[0]);
				selectedFile.onload = (e) => {
					this.post.image = e.target.result;
					this.image_update = true;
				}
				console.log(this.post.image);
			},
			// upload

			sviPostovi() {

				let uri = '/api/post';
				this.axios.get(uri, {
					headers: {
						'Access-Control-Allow-Origin': '*',
					}
				}).then(response => {

					this.posts = response.data.post;
					this.autocompleteItems = response.data.tag;
					
					this.totalRows = this.posts.length
					this.categories = response.data.category;



				});
			},
			kreirajPost() {
				this.pocetak = false;
				this.form = true;
				let user = JSON.parse(localStorage.getItem('blog.mdi.in.rs.user'))
				this.name = user.name		
				this.post.author = this.name

			},
			deletePost(id) {
				const swalWithBootstrapButtons = Swal.mixin({
					customClass: {
						confirmButton: 'btn btn-success',
						cancelButton: 'btn btn-danger'
					},
					buttonsStyling: false
				})

				swalWithBootstrapButtons.fire({
					title: 'Da li ste sigurni ?',
					text: "Želite da obrišete ovaj post!",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Da, obriši ga!',
					cancelButtonText: 'Ne!',
					reverseButtons: true
				}).then((result) => {
					if (result.value) {
						let uri =`/api/post/delete/${id}`;
						this.axios.delete(uri, {
							headers: {
								'Access-Control-Allow-Origin': '*',
							}
						}).then(response => {

							swalWithBootstrapButtons.fire(
								'Obrisan!',
								'Vaš post je obrisan.',
								'success'
							)
						   this.sviPostovi();
						})
					}
					else if (
						/* Read more about handling dismissals below */
						result.dismiss === Swal.DismissReason.cancel
					) {
						swalWithBootstrapButtons.fire(
							'Otkazano',
							'Vaš post je i dalje aktivan',
							'info'
						)
					}
				})


			},
		   
			addPost() {
				if (this.edit === false) {
					let uri = '/api/post/create';
					let tagi = this.tags
					let title = this.post.title
					let author = this.post.author
					let image = this.post.image
					let content = this.post.content
					let kategorija = this.post.kategorija
					let pozicija = this.post.pozicija
					this.axios.post(uri, { title, author, image, content, kategorija, pozicija, tagi }, {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then((response) => {
					  
						Swal.fire({
							position: 'top-end',
							icon: 'success',
							title: 'Post je dodat!',
							
							showConfirmButton: false,
							timer: 1500
						})
						 this.clearForm();
						this.sviPostovi();
					   
					});
				} else {
					// update Category
					let uri = `/api/post/update/${this.post.id}`;
					
					let tag = this.tags
					let title = this.post.title
					let author = this.post.author
					let image = this.post.image
					let content = this.post.content
					let kategorija = this.post.kategorija
					let pozicija = this.post.pozicija
					this.axios.post(uri, { title, author, image, content, kategorija, pozicija, tag }, {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then((response) => {
						this.clearForm();
						this.tags.length = 0;
						Swal.fire({
							position: 'top-end',
							icon: 'success',
							title: 'Post je promenjen!',
							showConfirmButton: false,
							timer: 1500
						})
					 
						this.sviPostovi();
						

					});
				}
			},
			stopForm(){
				this.pocetak = true;
				this.form = false;
				},
			showPost(post) {
				this.show = true;
				this.tags = [];                  
				this.pocetak = false;
				this.post.id = post.id;
				this.post.post_id = post.post_id;
				this.post.title = post.title;
				this.post.author = post.author;
				this.post.content = post.content;
				this.post.pozicija = post.position;
				this.post.kategorija = post.category_id;
				this.post.image = post.image;
				this.post.comments = post.comments;
				this.post.tags = post.tags;},
				
			hidePost() {
				this.show = false;                                
				this.pocetak = true;
				this.post.id = null;
				this.post.post_id = null;
				this.post.title = null;
				this.post.author = null;
				this.post.content = null;
				this.post.pozicija = null;
				this.post.kategorija = null;
			},
			editPost(post) {
				this.tags = [];   
				this.edit = true;
				this.pocetak = false;
				this.post.id = post.id;
				this.post.post_id = post.post_id;
				this.post.title = post.title;
				this.post.author = post.author;
				this.post.content = post.content;
				this.post.pozicija = post.position;
				this.post.kategorija = post.category_id;
				this.post.image = post.image;
				let i = '';
				
				for(i in post.tags){
				
			 //   this.tags = [...this.tag, ...Object.values(post.tags[post.tags[i])]

					  this.t.push(Object.values(post.tags[i])[1])
					  }
						 this.tags = this.t.map(a => {
				   return { text: a };
				   });
				
				/* 
				Ovo je za slučaj kada za svaki objekat imamo samo jedan clan niza
				for(i in post.tags){
				
				this.tag = [...this.tag, ...Object.values(post.tags[i])]

					  // ili this.tags.push(Object.values(post.tags[i])) }*/
				   
				this.form = true;
				

			},
			clearForm() {
				this.edit = false;
				this.pocetak = true;
				this.post.id = null;
				this.post.post_id = null;
				this.post.title = null;
				this.post.author = null;
				this.post.content = null;
				this.post.pozicija = null;
				this.post.kategorija = null;
				this.t = [];
				this.tags = [];
				//this.tag = null;
				//  this.post.image = null;
				
				this.image_update = false;
				this.form = false;
			},
			onFiltered(filteredItems) {
				// Trigger pagination to update the number of buttons/pages due to filtering
				this.totalRows = filteredItems.length
				this.currentPage = 1
			}

		}
	}
</script>
