<template>
	<div class="row" id="rout">
	  
		<div class="col-md-4 product-box d-flex align-content-center justify-content-center flex-wrap big-text">
			<a href='/admin/users'>Users ({{users.length}})</a>
		</div>
		<div class="col-md-4 product-box d-flex align-content-center justify-content-center flex-wrap big-text">
			<a href='/admin/category'>Categories ({{categories.length}})</a>
		</div>
		<div class="col-md-4 product-box d-flex align-content-center justify-content-center flex-wrap big-text">
			<a href='/admin/comments'>Neobjavljeni komentari ({{comments.length}})</a>
		</div>
	 
	</div>
</template>
<style>
	a, a:hover {
		color: #1E4356 !important;
		text-decoration: none;
	}
</style>
<script>
	export default {
		data() {
			return {
				user : null,                
				
				users: [],
				categories: [],
				comments: []
				
			}
		},
		mounted() {
			axios.get('/api/users/').then(response => this.users = response.data)
			
			axios.get('/api/categories/').then(response => {
		    this.categories = response.data.data;
		    })
		    axios.get('/api/comment').then(response => {
		    this.comments = response.data.comment;
		
	  }) 
		}   
	
	}
</script>

<style scoped>
	.big-text {
		font-size: 28px;
	}

	.product-box {
		border: 1px solid #cccccc;
		padding: 10px 15px;
		height: 20vh
	}
</style>
