<template>
	<div class="container" id="rout">
		<br /><br /><br />
		
		<table class="table table-responsive table-striped">
			<thead>
				<tr>
					<td></td>
					<td>Name</td>
					<td>Email</td>
					<td>Joined</td>
					<td>Rola</td>
					<td>Promeni</td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(user,index) in users" @key="index">
					<td>{{index+1}}</td>
					<td>{{user.name}}</td>
					<td>{{user.email}}</td>
					<td>{{user.created_at}}</td>
					<td>
					<div class="form-group">
						<b-form-select v-model="user.is_admin"  class="mb-3">
						   <option :value="user.is_admin"><span v-if="user.is_admin == 1" >Admin</span><span v-if="user.is_admin != 1" >Posetilac</span></option>                          
						   <b-form-select-option value="1">Admin</b-form-select-option>
						   <b-form-select-option value="0">Posetilac</b-form-select-option>
						</b-form-select>
					</div>
					
					</td>
					<td><button size="sm" @click="change(user)" class="mb-3 b-primary">Change</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
	import Swal from 'sweetalert2/dist/sweetalert2.js'
	import 'sweetalert2/src/sweetalert2.scss'
	export default {
		data() {
			return {
			rola : '',
				users : [],
				user : {
				id: '',
				name: '',
				email: '',
				created_at: '',
				is_admin: ''
				},
				proba: {
				name: ''
				}
				
				
			}
		},
	   created() {
		  this.useri();
		 
	},
		methods: {
		useri() {
		axios.get('/api/users/').then(response => this.users = response.data)
		},
	
	  change:function(e){
			  
				// Promena role
				let id = e.id
				let rola = e.is_admin								
				let uri = '/api/users/rola';
				this.axios.post(uri, {id, rola}).then((response) => {				   
					 this.useri();
					 Swal.fire({
							position: 'top-end',
							icon: 'success',
							title: 'Rola je promenjena!',
							
							showConfirmButton: false,
							timer: 1500
						})
				}); 
			}
		}
	}
</script>
