<template>
	<div>
		<nav class="navbar navbar-dark navbar-expand-sm fixed-top" v-bind:class=" { 'navbarOpen': show }" v-if="!user_type==1">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" @click.stop="toggleNavbar()">
				<span class="navbar-toggler-icon"></span>
			</button>
			<ul class="navbar-nav mr-auto">

				<router-link :to="{ name: 'blog' }" class="nav-link logo"></router-link>



			</ul>
			<div class="collapse navbar-collapse mr-4" id="collapsibleNavbar" v-bind:class="{ 'show': show }">
				<!-- <div v-if="homePage()">
		 Na ovaj nacin prikazuje nesto ako nisi na pocetnoj strani  -->
				<div>
					<ul class="navbar-nav auto">
					
						<li class="nav-link" ><a  :href="$router.resolve({name: 'blog'}).href"><h5 class="mdi"><template class="template mdi" @click.native="toggleNavbar()">Blog</template></h5></a></li>   
					  
					</ul>
				</div>


				<ul class="navbar-nav ml-auto">
					<router-link :to="{ name: 'login' }" class="nav-link" v-if="!isLoggedIn" @click.native="toggleNavbar()"><h5>Login</h5></router-link>
					<router-link :to="{ name: 'register' }" class="nav-link" v-if="!isLoggedIn" @click.native="toggleNavbar()"><h5>Register</h5></router-link>
					<span v-if="isLoggedIn">
						
					 <li class="nav-link"> <h5> Hi, {{name}}</h5></li>
					</span>
					<li class="nav-link" v-if="isLoggedIn" @click="logout"><h5> Logout</h5></li>
				</ul>
			
			</div>
		</nav>

		<main class="py-4">
		   <router-view @loggedIn="change" v-if="!$route.meta.keepAlive"></router-view>
		   <keep-alive>
				<router-view @loggedIn="change" v-if="$route.meta.keepAlive"></router-view>
			</keep-alive>  
		</main>
	</div>
</template>
<style scope>
	.mdi {

	 color: #C6D0BA !important;
	 }
   .mdi:hover {
	
	color: #C6D0BA !important;
}

</style>
<script>
	export default {
	   
		data() {
			return {
				
				show: false,
				name: null,
				user_type: 0,
				isLoggedIn: localStorage.getItem('blog.mdi.in.rs.jwt') != null
			}
		},
		mounted() {
			this.setDefaults()
				
	
		},
	
		methods: {
			  homePage() {
		if(this.$route.path == "/"  ) {
		  return false
		} else {
		  return true
		}
	  },
	   
			  toggleNavbar() {
	  this.show = !this.show
	},   
			setDefaults() {
				if (this.isLoggedIn) {
					let user = JSON.parse(localStorage.getItem('blog.mdi.in.rs.user'))
					this.name = user.name
					
					
					this.user_type = user.is_admin
				}
			},
			change() {
				this.isLoggedIn = localStorage.getItem('blog.mdi.in.rs.jwt') != null
				this.setDefaults()
			},
			logout(){
				localStorage.removeItem('blog.mdi.in.rs.jwt')
				localStorage.removeItem('blog.mdi.in.rs.user')
				this.change()
				this.$router.push('/')
			}
		}
	}
</script>
