<template>
	<div class="container">
		<div>
			<!-- ======= Hero Section ======= -->
			<section id="hero" class="d-flex justify-cntent-center align-items-center">
				<div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">
					<!-- Slide 1 -->
					<div class="carousel-item active">
						<div class="carousel-container">
							<h2 class="animated fadeInDown">Welcome to <span>Moderna</span></h2>
							<p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
							<a href="" class="btn-get-started animated fadeInUp">Read More</a>
						</div>
					</div>

					<!-- Slide 2 -->
					<div class="carousel-item">
						<div class="carousel-container">
							<h2 class="animated fadeInDown">Lorem Ipsum Dolor</h2>
							<p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
							<a href="" class="btn-get-started animated fadeInUp">Read More</a>
						</div>
					</div>

					<!-- Slide 3 -->
					<div class="carousel-item">
						<div class="carousel-container">
							<h2 class="animated fadeInDown">Sequi ea ut et est quaerat</h2>
							<p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
							<a href="" class="btn-get-started animated fadeInUp">Read More</a>
						</div>
					</div>

					<a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>

					<a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>

				</div>
			</section><!-- End Hero -->

			<main id="main">

				<!-- ======= Services Section ======= -->
				<section class="services">
					<div class="container">

						<div class="row">
							<div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
								<div class="icon-box icon-box-pink">
									<div class="icon"><i class="bx bxl-dribbble"></i></div>
									<h4 class="title"><a href="">Lorem Ipsum</a></h4>
									<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
								<div class="icon-box icon-box-cyan">
									<div class="icon"><i class="bx bx-file"></i></div>
									<h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
									<p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
								<div class="icon-box icon-box-green">
									<div class="icon"><i class="bx bx-tachometer"></i></div>
									<h4 class="title"><a href="">Magni Dolores</a></h4>
									<p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
								<div class="icon-box icon-box-blue">
									<div class="icon"><i class="bx bx-world"></i></div>
									<h4 class="title"><a href="">Nemo Enim</a></h4>
									<p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
								</div>
							</div>

						</div>

					</div>
				</section><!-- End Services Section -->
				<!-- ======= Why Us Section ======= -->
				<section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
					<div class="container">

						<div class="row">
							<div class="col-lg-6 video-box">
								<img src="assets/img/why-us.jpg" class="img-fluid" alt="">
								<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
							</div>

							<div class="col-lg-6 d-flex flex-column justify-content-center p-5">

								<div class="icon-box">
									<div class="icon"><i class="bx bx-fingerprint"></i></div>
									<h4 class="title"><a href="">Lorem Ipsum</a></h4>
									<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
								</div>

								<div class="icon-box">
									<div class="icon"><i class="bx bx-gift"></i></div>
									<h4 class="title"><a href="">Nemo Enim</a></h4>
									<p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
								</div>

							</div>
						</div>

					</div>
				</section><!-- End Why Us Section -->
				<!-- ======= Features Section ======= -->
				<section class="features">
					<div class="container">

						<div class="section-title">
							<h2>Features</h2>
							<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
						</div>

						<div class="row" data-aos="fade-up">
							<div class="col-md-5">
								<img src="assets/img/features-1.svg" class="img-fluid" alt="">
							</div>
							<div class="col-md-7 pt-4">
								<h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
								<p class="font-italic">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
									magna aliqua.
								</p>
								<ul>
									<li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
									<li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
								</ul>
							</div>
						</div>

						<div class="row" data-aos="fade-up">
							<div class="col-md-5 order-1 order-md-2">
								<img src="assets/img/features-2.svg" class="img-fluid" alt="">
							</div>
							<div class="col-md-7 pt-5 order-2 order-md-1">
								<h3>Corporis temporibus maiores provident</h3>
								<p class="font-italic">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
									magna aliqua.
								</p>
								<p>
									Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
									velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
									culpa qui officia deserunt mollit anim id est laborum
								</p>
							</div>
						</div>

						<div class="row" data-aos="fade-up">
							<div class="col-md-5">
								<img src="assets/img/features-3.svg" class="img-fluid" alt="">
							</div>
							<div class="col-md-7 pt-5">
								<h3>Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas</h3>
								<p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
								<ul>
									<li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
									<li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
									<li><i class="icofont-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
								</ul>
							</div>
						</div>

						<div class="row" data-aos="fade-up">
							<div class="col-md-5 order-1 order-md-2">
								<img src="assets/img/features-4.svg" class="img-fluid" alt="">
							</div>
							<div class="col-md-7 pt-5 order-2 order-md-1">
								<h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
								<p class="font-italic">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
									magna aliqua.
								</p>
								<p>
									Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
									velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
									culpa qui officia deserunt mollit anim id est laborum
								</p>
							</div>
						</div>

					</div>
				</section><!-- End Features Section -->

			</main><!-- End #main -->

		</div>
		<div>
			<footer>
				<div class="footer">
					<div class="row">
						<div class="col-md-5 col-12  foot">

							<h3>MDI</h3>
							<hr />
							<ul class="social-network">
								<!--<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
													<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest fa-1x"></i></a></li>
												<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus fa-1x"></i></a></li>-->
								<li><a href="https://rs.linkedin.com/in/veljko-veljkovic-b31441198?trk=people-guest_people_search-card" target="_blank" data-placement="top" title="Linkedin"><i class="fa fa-linkedin fa-2x"></i></a></li>
								<li><a href="https://github.com/VeljkoVeljkovic" target="_blank" data-placement="top" title="Github"><i class="fa fa-github fa-2x"></i></a></li>
								<li><a href="https://bitbucket.org/VeljkoVeljkovic/" data-placement="top" target="_blank" title="Bitbucket"><i class="fa fa-bitbucket fa-2x"></i></a></li>
								<li><a href="https://www.dropbox.com/s/ytb1tvhqwgtiy2g/CV_Veljko_Veljkovic.pdf?dl=0" data-placement="top" target="_blank" title="Dropbox"><i class="fa fa-dropbox fa-2x"></i></a></li>
							</ul>

							<hr />
							<br />
							<ul>
								<li><i class="fa fa-home fa-2x"></i> Braće Jerković 100/15, Beograd 11010</li>
								<br />
								<li><i class="fa fa-phone fa-2x"></i> +38169/1567555</li>
								<br />
								<li><i class="fa fa-envelope fa-2x"></i> veljkoveljkovic.mdi@gmail.com</li>
							</ul>
							<br />
							<hr />
						</div>
						<div class="col-md-2 col-12 foot">
						</div>

						<div class="col-md-5 col-12 foot">
							<h2>Kontaktirajte nas: </h2>
							<div class="form contact-form">
								<div v-if="obavestenje" class="alert alert-success" role="alert">{{obavestenje}}</div>
								<div v-if="greska" class="alert alert-danger" role="alert">{{greska}}</div>
								<br />
								<form @submit.prevent="posaljiMail" class="contactForm">
									<div class="form-group">
										<input type="text" name="naslov" class="form-control"
											   id="name" placeholder="Unesite vaše ime i prezime" data-rule="minlen:4"
											   v-model="mail.naslov" />
									</div>

									<hr />
									<div class="form-group">
										<input type="text" name="poruka" class="form-control"
											   id="poruka" placeholder="Unesi poruku" data-rule="minlen:4"
											   v-model="mail.poruka" />
									</div>

									<hr />
									<div class="form-group">
										<input type="email" class="form-control" name="email" id="email"
											   placeholder="Your Email" v-model="mail.email" />

									</div>

									<hr />
									<div class="form-group text-center">
										<button class="btn-block">Pošalji</button>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
			</footer>
		</div>
	</div>
</template>
<style scope>
	

	input[type=text] input[type=number]{
		color: #ED502E !important;
	}
	input:focus {
   outline: none !important;
	border-color: #ED502E !important;
	box-shadow: 0 0 5px #ED502E !important;
}
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ED502E !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  #ED502E !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:  #ED502E !important;
}
	
	hr {
		background-color: #ED502E !important;
	}
	.cont {
  position: relative;
  width: 50%;
}

.imag {
  display: block;
  padding-left: 10px;
  width: 80%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 80%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ED502E;
}

	@media screen and (max-width: 992px) {
		.overlay {
			width: 100%;
		}
		.imag {
 width: 100%;
}
	}
.cont:hover .overlay {
  opacity: 0.7;
}

.tex {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
	 body[data-aos-duration='4000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='4000'] {
	transition-duration: 4000ms;
  }
   
	section {
		height: 50vh;
	}


	.nav-link:hover {
		color:black !important;
	}
	 .box{
		 position: relative;
	 }

	 .box {
	position: relative;
}

.na {
	background-color: #FC611F !important;
}

.sticky {
	list-style-type: none;
	position: sticky;
	overflow: hidden;
	top: 82px;
	width: 100%;
	z-index: 9999;
}
@media screen and (max-width: 768px) {
	.sticky {display: none;
	}
	.carousel1{
	padding-top: 90%;
	}
}

   .foot {
	   color: white;
   }

	.progress-bar {
		width: 0;
		animation: progress 1.5s ease-in-out forwards;
	}
  .title {
	opacity: 0;
	animation: show 0.35s forwards ease-in-out 0.5s;
  }


@keyframes p1 {
  from {
	width: 0;
  }
  to {
	width: 85%;
  }
}
@keyframes p2 {
  from {
	width: 0;
  }
  to {
	width: 95%;
  }
}
@keyframes p3 {
  from {
	width: 0;
  }
  to {
	width: 70%;
  }
}
@keyframes show  {
  from {
	opacity: 0;
  }
  to {
	opacity: 1;
  }
}
</style>
<script>
	
	export default {
		 data() {
		return {
		  obavestenje: '',
		  greska: '',
		  mail:{
		  naslov: '',
		  poruka: '',
		  email: ''
		  },
		}
		},
		
		methods: {
   
		posaljiMail(){
			
			 // let uri = 'http://127.0.0.1:8000/api/kontakt/create';
			  let uri = 'http://www.mdi.in.rs/api/kontakt/create';
			  this.axios.post(uri, this.mail, {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then((response) => {
			 
				  this.obavestenje = response.data.obavestenje;
				  this.greska = response.data.greska;

			}).catch((error) => {
		this.greska = "Došlo je do greške prilikom slanja poruke";
});
		   } 
	   

	}
	}
</script>
