<template>
	<div>
	<div v-if="loading"></div>
	<div v-else>
	<main id="main">
		<!-- ======= Blog Section ======= -->
		<section id="rout" class="blog" >
			<div class="container">
			   
				<div class="row">

					<div class="col-lg-8 entries vld-parent" >

						<article class="entry entry-single">
							<div class="entry-img">
								<img class="d-block w-100" :src="image_src+post.image">
								
							</div>

							<h2 class="entry-title">
								<h1>{{post.title}}</h1>
							</h2>

							<div class="entry-meta">
								<ul>
									<li class="d-flex align-items-center"><i class="fa fa-user"></i> {{post.author}}</li>
									<li class="d-flex align-items-center"><i class="fa fa-wall-clock"></i> <time datetime="2020-01-01">{{post.created_at}}</time></li>
									<li class="d-flex align-items-center"><i class="fa fa-comment"></i></li>
								</ul>
							</div>

							<div class="entry-content">
								<div class="tekst" v-html="post.content"></div>
							</div>

							<div class="entry-footer clearfix " >
							 
												<div class="float-left" >
													<i class="fa fa-list-alt" ></i>
											
									<ul class="tags" v-for="(category,index) in categories"
									 @key="index">



										<li v-if="category.id == post.category_id" data-aos-duration="5000">
											<a :href="$router.resolve({name:'category', params: {id: category.id}}).href">{{category.kategorija}}</a>
										</li>
									</ul>
												&nbsp;&nbsp;<i class="fa fa-tags" data-aos-duration="5000"></i>
											   
												 <ul class="tags" v-for="(tagS,index) in post.tags"
											 @key="index">
													<li>
														&nbsp;<a :href="$router.resolve({name:'tag', params: {id: tagS.id}}).href">
															#{{tagS.tag}}
														</a>
													</li>
											   </ul>
												
											
								
								</div>
									
										  
								<div class="float-right share" data-aos-duration="500">
									<a href="" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
									<a href="" title="Share on Facebook"><i class="fa fa-facebook-square"></i></a>
									<a href="" title="Share on Instagram"><i class="fa fa-instagram"></i></a>
								</div>

							</div>

						</article><!-- End blog entry -->

					<!-- <div class="blog-author clearfix">
							<img src="assets/img/blog-author.jpg" class="rounded-circle float-left" alt="">
							<h4>{{post.author}}</h4>
							<div class="social-links">
								<a href="https://twitters.com/#"><i class="fa fa-twitter"></i></a>
								<a href="https://facebook.com/#"><i class="fa fa-facebook"></i></a>
								<a href="https://instagram.com/#"><i class="fa fa-instagram"></i></a>
							</div>
							<p>
								 Ovde bi trebao da bude tekst o autoru clanka 
							</p>
						</div> End blog author bio -->

						<div class="blog-comments">
							<div v-if="comments">
							<h4 class="comments-count">{{comments.length}} Comment<span v-if="comments.length > 1">s</span></h4>
							</div>
							<div class="comment clearfix" v-for="comment in comments">
								<!-- <img src="assets/img/comments-1.jpg" class="comment-img  float-left" alt="">
		<h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5> -->
								<i class="fa fa-user"></i> {{comment.name}}
								<time datetime="2020-01-01">{{comment.created_at}}</time>
								<p>
									{{comment.body}}
								</p>
	</div><!-- End comment #1 -->





							<div class="reply-form">
								<div class="alert-danger r text-center" v-if="error"><h3>{{error}}</h3></div>
								<h4>Leave a Reply</h4>
								<p>Your email address will not be published. Required fields are marked * </p>
								<form @submit.prevent="Comment" novalidate>
									<div class="row">
										<div class="col-md-6 form-group">
											<input name="name" type="text" class="form-control" placeholder="Your Name*" v-model="comment.name">
											<input name="name" type="hidden" v-model="comment.id" value="post.id">
										</div>
										<div class="col-md-6 form-group">											
											<input name="email"
												   placeholder="Your Email*"
												   v-model="comment.email"
												   v-validate="'required|email'"
												   class="form-control"
												   type="text">
											<div class="help-block alert alert-danger"
												 v-show="errors.has('email')">
												{{ errors.first('email') }}
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col form-group">
											<input name="website" type="text" class="form-control" placeholder="Your Website" v-model="comment.website">
										</div>
									</div>
									<div class="row">
										<div class="col form-group">
											<textarea name="comment" class="form-control" placeholder="Your Comment*" v-model="comment.body"></textarea>
										</div>
									</div>
									<button type="submit" class="btn btn-primary">Post Comment</button>
								</form>
							</div>
							</div>
						</div><!-- End blog comments -->



					<div class="col-lg-4 margside">

						<div class="sidebar">
							<h3 class="sidebar-title">Categories</h3>
							<div class="sidebar-item categories">
								<div 
									 v-for="(category,index) in categories"
									 @key="index">
									<ul>



										<li>
											<router-link v-bind:to="{name:'category', params: {id: category.id
															   }}">{{category.kategorija}}<span>
	({{category.posts.length}})
</span></router-link>
										</li>
									</ul>
								</div>
							</div>
							<h3 class="sidebar-title">Most Read Posts</h3>
									<div class="sidebar-item recent-posts">
										<div class="post-item clearfix">
											<b-table 
													 borderless
													 :items="najcitanije"
													 :fields="fields">
												<template v-slot:cell()="row">
													<a :href="$router.resolve({name:'show', params: {id: row.item.id}}).href">
														<img :src="image_src+row.item.image" alt="">

													
													<h4><a>{{row.item.title}}</a></h4>
													<time datetime="2020-01-01">{{row.item.created_up}}Jan 1, 2020</time>
													</a>
												</template>
											</b-table>

										</div>
									</div>
							<h3 class="sidebar-title">Tags</h3>
							<div class="sidebar-item tags">
								<ul >
									<li v-for="(tag,index) in tags"
										@key="index"><a :href="$router.resolve({name:'tag', params: {id: tag.id}}).href">{{tag.tag}}</a></li>									
								</ul>
							 </div>
						</div>
					</div>
				</div>
			</div>



		</section><!-- End Blog Section -->

	</main><!-- End #main -->
	</div>
	</div>
</template>
<style scoped>
	[v-cloak] {
	  display: none;
	  }
		@media screen and (min-width: 1000px) {
  .sidebar {
		margin-top: -35px;
	}
  }
  a:hover {
		text-decoration: none !important;
	}
	.size {
		width: 100%;
	}
	.tekst {
	   padding-left:4px;
	   padding-right:4px;
	}

	div >>> p {
		color: black !important;
	}

	.red {
		margin-top: 10px;
	}

	.blogslika {
		border-radius: 5%;
	}
</style>
<script>
	import Loading from 'vue-loading-overlay';
	// Import stylesheet
	import 'vue-loading-overlay/dist/vue-loading.css';
	import Swal from 'sweetalert2/dist/sweetalert2.js'
	import 'sweetalert2/src/sweetalert2.scss'
	export default {
		data() {
			return {
					loading: true,			        
					image_src: '/uploads/images/',
					//image_update: false,
					najcitanije: [],
					citano: {
						id: '',
						title: '',
						author: '',
						content: '',
						category_id: '',
						position: '',
						image: '',
						created_at: ''
					},
				image_size: { width: 300, class: 'm1' },
				image_src: '/uploads/images/',
				comment: {
					name: '',
					email: '',
					website: '',
					body: ''
				},
				post: {
					id: '',
					title: '',
					author: '',
					content: '',
					category_id: '',
					position: '',
					image: '',
					created_at: '',
					
				},
				fields: [
					  //  { key: 'title', label: '' },
					  //  { key: 'author', label: '' },                  
					   // { key: 'image', label: '' },                                                                  
						{ key: 'action', label: ''}],
				post_id: '',
				citano_id: '',
				filter: null,
				filterOn: [],
				category: {
					id: '',
					kategorija: ''
				},

				categories: [],
				comments: [],
				comment: {
					name: '',
					body: '',
					created_at: ''
				},
				tags: [],
				tag: {
				id: '',
				tag: ''
				},
				error: ''
			}
		},
			
		created() {
			this.Post();
			 setTimeout(() => {
		  this.loading = false;
		  },1000);
			
		},
		 components: {
			Loading
		},
		methods: {
			onCancel() {
			  console.log('User cancelled the loader.')
			},
			Post() {
		
			   let uri = '/api/show/'+this.$route.params.id;
			this.axios.get(uri,  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {
				this.najcitanije = response.data.najcitanije; 
						this.post = response.data.post;
						this.categories = response.data.category;
						this.comments = response.data.comments;
						this.tags = response.data.tags;
						
	   
		   });


			},
			Comment() {
				this.$validator.validateAll().then((result) => {
					if (!result) {
						this.error = "Please enter valid data!";
						return;
					}
					let uri = '/api/comment/create';
					let post_id = this.post.id
					let name = this.comment.name
					let email = this.comment.email
					let website = this.comment.website
					let body = this.comment.body
					this.axios.post(uri, { name, email, website, body, post_id }, {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then((response) => {
						
						this.clearForm();
						Swal.fire({
							position: 'center',
							icon: 'success',
							title: 'Komentar je uspešno poslat! Biće objavljen nakon što ga pregleda administrator.',
							showConfirmButton: false,
							timer: 3000
						})
						
						this.Post();
					})
				});
				
			},
		
		clearForm() {
			
			this.comment.name = null;
			this.comment.email = null;
			this.comment.website = null;
			this.comment.body = null;
			this.error = null;
		},

				showPost(id) {
				 
				 let uri = `/api/show/${id}`;
				
				this.axios.get(uri,  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {
					this.najcitanije = response.data.najcitanije;
					this.post = response.data.post;
				});
			},
				onFiltered(filteredItems) {
				// Trigger pagination to update the number of buttons/pages due to filtering
				this.totalRows = filteredItems.length
				this.currentPage = 1
			}
		}
	}
</script>
