// FrontPost.vue

	<template>
		<div>
			<loading :active.sync="isLoading"
					 :can-cancel="true"
					 :on-cancel="onCancel"
					 :is-full-page="fullPage"></loading>
			<br />
			<br />
			<br />
			<br />
			<main id="main">
				<section class="blog" data-aos="fade-up" data-aos-easing="ease-in-out">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 entries">
								<b-table borderless
										 :items="posts"
										 :fields="fields"
										 :current-page="currentPage"
										 :per-page="perPage"
										 :filter="filter"
										 :filterIncludedFields="filterOn"
										 :sort-by.sync="sortBy"
										 :sort-desc.sync="sortDesc"
										 :sort-direction="sortDirection"
										 @filtered="onFiltered">
									<template v-slot:cell()="row">
										<div class="entry">
											<div class="entry-img">
												<img v-lazy="'/uploads/images/'+row.item.image" class="img-fluid s">
											</div>
											<h2 class="entry-title">
												<a>
													{{row.item.title}}
												</a>
											</h2>
											<div class="entry-meta">
												<ul>
													<li class="d-flex align-items-center" data-aos-duration="100">
														<i class="fa fa-user"></i>
														<a href="#">
															{{row.item.author}}
														</a>
													</li>
													<li class="d-flex align-items-center">
														<i class="fa fa-clock-o"></i>
														<p>
															{{row.item.created_at}}
														</p>
													</li>
													<li class="d-flex align-items-center">
														<i class="fa fa-comment"></i>
														<a href="">

														</a>
													</li>
												</ul>
											</div>
											<div class="entry-content">
												<div v-html="trim(row.item.content)">
												</div>
												<div>
													<div class="entry-footer clearfix">
														<div class="float-left">
															<i class="fa fa-list-alt"></i>

															<ul class="tags" v-for="(category,index) in categories"
																@key="index">



																<li v-if="category.id == row.item.category_id">
																	<a :href="$router.resolve({name:'category', params: {id: category.id}}).href">{{category.kategorija}}</a>
																</li>
															</ul>
															&nbsp;&nbsp;<i class="fa fa-tags"></i>
															<ul class="tags" v-for="(tag,index) in row.item.tags"
																@key="index">
																<li>
																	<a :href="$router.resolve({name:'tag', params: {id: tag.id}}).href">
																		#{{tag.tag}}&nbsp;
																	</a>
																</li>
															</ul>
														</div>
													</div>
													<div class="read-more">
														<router-link v-bind:to="{name:'show', params: {id: row.item.id
															   }}">Saznaj više</router-link>
													</div>
												</div>
											</div>
										</div><!-- End blog entry -->
									</template>
								</b-table>
							</div>
							<div v-if="loading"></div>
							<div class="col-lg-4" v-else>
								<div class="sidebar">
									<h3 class="sidebar-title">Search</h3>
									<div class="sidebar-item search-form">
										<form action="">
											<input v-model="fil"
												   type="text"
												   id="filterInput">
											<button @click.prevent="filter = fil"><i class="fa fa-search fa-1x"></i></button>
										</form>
									</div><br />
									<h3 class="sidebar-title">Categories</h3>
									<div class="sidebar-item categories">
										<div v-for="(category,index) in categories"
											 @key="index">
											<ul>
												<li>
													<a :href="$router.resolve({name:'category', params: {id: category.id}}).href">
														{{category.kategorija}}<span>
															({{category.posts.length}})
														</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<h3 class="sidebar-title">Most Read Posts</h3>
									<div class="sidebar-item recent-posts">
										<div class="post-item clearfix">
											<b-table borderless
													 :items="najcitanije"
													 :fields="fields">
												<template v-slot:cell()="row">
													<router-link v-bind:to="{name:'show', params: {id: row.item.id}}" class="s">
														<img :src="image_src+row.item.image" alt="">
														<h4><a>{{row.item.title}}</a></h4>
														<time datetime="2020-01-01">{{row.item.created_up}}Jan 1, 2020</time>
													</router-link>
												</template>
											</b-table>
										</div>
									</div>
									<h3 class="sidebar-title">Tags</h3>
									<div class="sidebar-item tags">
										<ul>
											<li v-for="(tag,index) in tags"
												@key="index"><a :href="$router.resolve({name:'tag', params: {id: tag.id}}).href">{{tag.tag}}</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<br />
				
				<div v-if="loading"></div>
				<div v-else>
				   <hr />
				   <br />
					<b-row class="justify-content-md-center">
						<b-col sm="7" md="6">
							<b-pagination v-model="currentPage"
										  :total-rows="totalRows"
										  :per-page="perPage"
										  align="fill"
										  size="sm"
										  class="my-0"></b-pagination>
						</b-col>
					</b-row>
				</div>
			</main>
		</div>
	</template>
<style>
	.s {
		  width: 100%;
	}
	a:hover {
		text-decoration: none !important;
	}
	.sfocus {
		position: relative;
		opacity: 0.8;
		transition: 0.3s ease;
		cursor: pointer;
	}

		.sfocus:hover {
			opacity: 1;
			/** default is 1, scale it to 1.5 */
			transform: scale(1.1, 1.1);
		}
</style>
<script>
	
	import Loading from 'vue-loading-overlay';
	// Import stylesheet
	import 'vue-loading-overlay/dist/vue-loading.css';
	
			
	export default {

		data() {
			return {
				loading: true,
				fil: '',
				najcitanije: [],
				citano: {
						id: '',
						title: '',
						author: '',
						content: '',
						category_id: '',
						position: '',
						image: '',
						created_at: ''
					},
				isLoading: false,
				fullPage: true,
				form: false,
				image_size: { width: 150, class: 'm1' },
				image_src: '/uploads/images/',
				//image_update: false,
				posts: [],
				post: {
					id: '',
					title: '',
					author: '',
					broj_pregleda: '',
					content: '',
					category_id: '',
					position: '',
					image: '',
					created_at: ''
				},
				category: {
					id: '',
					kategorija: ''
				},

				categories: [],
				
				  fields: [
					/*  { key: 'title', label: '', sortable: false },
					   { key: 'author', label: '', sortable: false },
					   { key: 'created_at', label: '', sortable: true, sortDirection: 'desc' },
					   { key: 'author', label: '', sortable: false },
					   { key: 'image', label: '', sortable: false },
					   { key: 'content', label: '', sortable: false },  */
					{ key: 'action', label: '', sortable: false }], 
				post_id: '',
				pocetak: true,
				totalRows: 1,
				currentPage: 1,
				perPage: 5,
				pageOptions: [5, 10, 15],
				sortBy: '',
				sortDesc: true,
				sortDirection: 'desc',
				filter: null,
				filterOn: [],
				citano_id:' ',
				tags: [],
				tag: {
				id: '',
				tag: ''
				}

			}
		},
		beforeMount() {

		},
	 
		created() {


			if (this.$route.name == 'tag') {
				this.tagovi();
			} else if (this.$route.path === '/') {
				
				this.sviPostovi();
			} else if (this.$route.name == 'category') {
			
			this.kategorija(); } 

			setTimeout(() => {
			this.loading = false;
			},1000);
		

		},
		directives: {

		},
		filters: {

		},
		computed: {
		

		/*	sortOptions() {
				// Create an options list from our fields
				return this.fields
					.filter(f => f.sortable)
					.map(f => {
						return { text: f.label, value: f.key }
					})
			}, */

		},
		mounted() {

				
			// Set the initial number of items
			this.totalRows = this.posts.length
			
			
   


		},
		components: {
			Loading
		},
		methods: {
			  methodThatForcesUpdate() {
	  // ...
	  this.$forceUpdate();  // Notice we have to use a $ here
	  // ...
	},
			trim(str) {
				return str.split(' ').slice(0, 15).join(" ") + "...";

			},
			kategorija() {
			
				let uri = '/api/category/'+this.$route.params.id;
			this.axios.get(uri,  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {
						this.isLoading = false
						this.posts = response.data.post;
						this.najcitanije = response.data.najcitanije; 
						this.totalRows = this.posts.length
						this.categories = response.data.category;
						this.tags = response.data.tags;
						this.$forceUpdate(); });	
						
	   
		   
			},
			tagovi() {
			
				let uri = '/api/tag/'+this.$route.params.id;
			this.axios.get(uri,  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {
						this.isLoading = false
						this.posts = response.data.post;
						this.najcitanije = response.data.najcitanije; 
						this.totalRows = this.posts.length
						this.categories = response.data.category;
						this.tags = response.data.tags;
						this.$forceUpdate(); });	
						
	   
		   
			},
	
		
			onChangePage(posts) {
				// update page of items
				this.posts = posts;
			},
		  
			sviPostovi() {			
				this.isLoading = true;
				
				  let uri = '/api/';										
				  this.axios.get(uri, {
					headers: {
						'Access-Control-Allow-Origin': '*',
					}
					}).then(response => {
						 this.isLoading = false
						this.posts = response.data.post;
						this.totalRows = this.posts.length;
						this.najcitanije = response.data.najcitanije; 
						this.categories = response.data.category;
						this.tags = response.data.tags;
					});							
			},
			onCancel() {
			  console.log('User cancelled the loader.')
			},
			clearForm() {
				this.edit = false;
				this.post.id = null;
				this.post.post_id = null;
				this.post.title = null;
				this.post.author = null;
				this.post.content = null;
				this.post.pozicija = null;
				this.post.kategorija = null;
				this.post.image = null;
				this.form = false;
			},			
			onFiltered(filteredItems) {
				// Trigger pagination to update the number of buttons/pages due to filtering
				this.totalRows = filteredItems.length
				this.currentPage = 1
			}
		}
	}
</script>
