<template>
	<div>
		<nav class="navbar navbar-expand-sm   navbar-dark fixed-top" v-bind:class=" { 'navbarOpen': show }">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" @click.stop="toggleNavbar()">
				<span class="navbar-toggler-icon"></span>
			</button>
			<ul class="navbar-nav mr-auto">
				<router-link :to="{ name: 'blog' }" class="nav-link logo"></router-link>  
			</ul>
			<div class="collapse navbar-collapse mr-4" id="collapsibleNavbar" v-bind:class="{ 'show': show }">
				<ul class="navbar-nav mr-auto">
					<li class="nav-link"><a  @click="setComponent('main')"><h5>Dashboard</h5></a></li>
					<li class="nav-link"><a  @click="setComponent('comments')"><h5>Comments</h5></a></li>					
					<li class="nav-link"><a @click="setComponent('users')"><h5>Users</h5></a></li>
					<li class="nav-link"><a  @click="setComponent('category')"><h5>Category</h5></a></li>
					
					<li class="nav-link"><a  @click="setComponent('posts')"><h5>Posts</h5></a></li>
				</ul>
				<!-- Right Side Of Navbar -->
				<ul class="navbar-nav ml-auto">
					<router-link :to="{ name: 'admin' }" class="nav-link"><h5> Hi, {{name}}</h5></router-link>					
					<li class="nav-link" @click="logout"><h5> Logout</h5></li>
				</ul>
			</div>
		</nav>
		<!--<div class="container-fluid hero-section d-flex align-content-center justify-content-center flex-wrap ml-auto">
		<h2 class="title">Admin Dashboard</h2>
	</div>
		<nav class="navbar na navbar-expand-sm  navbar-light bg-light fixed-top fixed-top-2">

		</nav>  -->
		<div class="container" id="rout">
			<component :is="activeComponent"></component>
		</div>
	</div>
</template>
<style scope>
	.p {
		margin-top: 20%;
	}
	.fixed-top-2 {
	margin-top: 80px;
}
	.b-primary {
		width: 120px;
	}
	.na {
	background-color: #FC611F !important;
	}

	.sticky {
		list-style-type: none;
		position: sticky;
		overflow: hidden;
		top: 82px;
		width: 100%;
	
	}

</style>
<script>
	import Comment from './admin/Comment.vue'
	import Main from './admin/Main.vue'
	import Users from './admin/Users'	
	import Category from './admin/IndexCategory.vue';	
	import Post from './admin/IndexPost.vue';
	
	
	export default {
		data() {
			return {
				show: false,
				name: null,
				user_type: 0,
				user: '',
				activeComponent: null,
				isLoggedIn: localStorage.getItem('blog.mdi.in.rs.jwt') != null
			}
		},
		components: {
			Main, Users, Category, Post, Comment
		},
		beforeMount() {
			this.setComponent(this.$route.params.page)
			this.user = JSON.parse(localStorage.getItem('blog.mdi.in.rs.  d fuser'))
			axios.defaults.headers.common['Content-Type'] = 'application/json'
			axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('blog.mdi.in.rs.jwt')

			 if (this.isLoggedIn) {
					let user = JSON.parse(localStorage.getItem('blog.mdi.in.rs.user'))
					this.name = user.name					            					
					this.user_type = user.is_admin
				}
		},
		methods: {
			setComponent(value) {
				switch(value) {
						case "users":
						this.activeComponent = Users
						this.$router.push({name: 'admin-pages', params: {page: 'users'}}).catch(err => {})
						break;	
						case "comments":
						this.activeComponent = Comment
						this.$router.push({name: 'admin-pages', params: {page: 'comments'}}).catch(err => {})
						break;								
					 case "category":
						this.activeComponent = Category
						this.$router.push({name: 'admin-pages', params: {page: 'category'}}).catch(err => {})
						break;					
					case "posts":
						this.activeComponent = Post
						this.$router.push({name: 'admin-pages', params: {page: 'post'}}).catch(err => {})
						break;
						default:
					
						this.activeComponent = Main
						this.$router.push({name: 'admin'}).catch(err => {})
						break;
				}
			},
				 
			  toggleNavbar() {
	  this.show = !this.show
	},   		
			logout(){
				localStorage.removeItem('blog.mdi.in.rs.jwt')
				localStorage.removeItem('blog.mdi.in.rs.user')
				localStorage.getItem('blog.mdi.in.rs.jwt') == null           
			   localStorage.getItem('blog.mdi.in.rs.user') == null			
			  this.$router.push('/login')			 
			}
		} 
	}
</script>

<style scoped>
	.hero-section {
		height: 20vh;
		background: #ababab;
		align-items: center;
		margin-bottom: 20px;
		margin-top: -20px;
	}

	.title {
		font-size: 60px;
		color: #ffffff;
	}
</style>
