<template>
   <div class="container" id="rout">
	  <div v-if="loading"></div>
		<div v-else>
		  <div class="row justify-content-center">
			<div class="col-md-8">
			<div class="alert-danger r text-center" v-if="error"><h3>{{error}}</h3></div>
				<div class="card card-default">
					<div class="card-header">Login</div>
					<div class="card-body">
							<form @submit.prevent="handleSubmit">
							<div class="form-group row">
							
								<label class="label">Email: </label>			
											<input
									name="email"
									v-model="email"
									v-validate="'required|email'"
									class="form-control"
									type="text"
									
									>	
								   <div class="help-block alert alert-danger"	                                    
									v-show="errors.has('email')">
									 {{ errors.first('email') }}
									</div>							
								</div>
							<div class="form-group row">
								<label class="label">Password: </label>				
									<input
									name="password"
									v-model.trim="password"
									v-validate="'min:6'"
									class="form-control"
									type="password" />
									<div class="help-block alert alert-danger"	                                    
									v-show="errors.has('password')">
									 {{ errors.first('password') }}
									</div>	
						
							</div>
							<div class="form-group row mb-0">
								<div class="col-md-4 offset-md-2">
									<button type="submit" class="b-primary">
										Login
									</button>
								</div>
								 <div class="col-md-4 offset-md-2 change" >
									<router-link to="/changepassword"  class="change">Change Password</router-link>
								</div>
							</div>
							
						</form>
					</div>					
				</div>
			</div>
		</div>
	  </div>		
	</div> 
</template>  
<style scope>

   .change {
	  padding-top: 20px;  
	  color: #1E4356;
	}
</style>
<script>

		export default {
			data() {
				return {
					loading: true,
					email: "",
					password: "",
					error: '',
					result: ""
					
				} 
			},
			mounted() {
			 if (localStorage.getItem('reloaded')) {
			// The page was just reloaded. Clear the value from local storage
			// so that it will reload the next time this page is visited.
			localStorage.removeItem('reloaded');
			} else {
				// Set a flag so that we know not to reload the page twice.
				localStorage.setItem('reloaded', '1');
				location.reload();
			}
			},
			created() {
			
			 setTimeout(() => {
			  this.loading = false;
			  },1000);
			
			  },
		
			methods: {  
				handleSubmit() {   
						  
					this.$validator.validateAll().then((result) => {
						if (!result) {
							this.error = "Proverite da li ste uneli validne podatke!";
							return;
						} else {
							
						   let email = this.email
						   let password = this.password
								  axios.post('api/login', {email,password}).then(response => {
							let user = response.data.user
							let is_admin = user.is_admin

							localStorage.setItem('blog.mdi.in.rs.user', JSON.stringify(user))
							localStorage.setItem('blog.mdi.in.rs.jwt', response.data.token)

							if (localStorage.getItem('blog.mdi.in.rs.jwt') != null) {
								this.$emit('loggedIn')
								 if (this.$route.params.nextUrl != null) {
								  this.$router.push(this.$route.params.nextUrl)
								} else {
									this.$router.push((is_admin == 1 ? 'admin' : '/'))
								}   
							
							} 
							
														}).catch(error => {
									
									  if (error.response.status == 401){
										this.error = error.response.data.error
										
									   }
									
								  })
							  }
						   })
					 
						}            
					}
				}
 
 
</script>
