<template>
	<div class="container" id="rout">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="alert-danger r text-center" v-if="error"><h3>{{error}}</h3></div>
				<div class="card card-default">
					<div class="card-header">Register</div>
					<div class="card-body">
						<form @submit.prevent="handleSubmit">
							<div class="form-group row">
								<label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
								<div class="col-md-6">
									<input name="name"
										   v-model="name"
										   v-validate="'required'"
										   class="form-control"
										   type="text">
									<div class="help-block alert alert-danger"
										 v-show="errors.has('name')">
										{{ errors.first('name') }}
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
								<div class="col-md-6">
									<input name="email"
										   v-model="email"
										   v-validate="'required|email'"
										   class="form-control"
										   type="text">
									<div class="help-block alert alert-danger"
										 v-show="errors.has('email')">
										{{ errors.first('email') }}
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
								<div class="col-md-6">
									<input name="password"
										   v-model.trim="password"
										   v-validate="'min:6'"
										   ref="password"
										   class="form-control"
										   type="password" />
									<div class="help-block alert alert-danger"
										 v-show="errors.has('password')">
										{{ errors.first('password') }}
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
								<div class="col-md-6">
									<input name="password_confirmation"
										   v-model.trim="password_confirmation"
										   v-validate="'min:6|confirmed:password'"
										   data-vv-as="password"
										   class="form-control"
										   type="password" />
									<div class="help-block alert alert-danger"
										 v-show="errors.has('password_confirmation')">
										{{ errors.first('password_confirmation') }}
									</div>
								</div>
							</div>
							<div class="form-group row mb-0">
								<div class="col-md-6 offset-md-4">
									<button type="submit" class=" b-primary">
										Register
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>


	export default {
		props : ['nextUrl'],
		data(){
			return {

				name : "",
				email : "",
				password : "",
				password_confirmation: "",
				error: "",
				result: ""
			}
		},
		
		methods : {

			handleSubmit() {
			
				this.$validator.validateAll().then((result) => {
				if (!result) {
					this.error = "Proverite da li ste uneli validne podatke!";
					return;
					}
				let name = this.name
				let email = this.email
				let password = this.password                
				axios.post('api/register', {name, email, password}).then(response => {
					let data = response.data
					localStorage.setItem('blog.mdi.in.rs.user', JSON.stringify(data.user))
					localStorage.setItem('blog.mdi.in.rs.jwt', data.token)
					if (localStorage.getItem('blog.mdi.in.rs.jwt') != null) {
						this.$emit('loggedIn')
						let nextUrl = this.$route.params.nextUrl
						this.$router.push((nextUrl != null ? nextUrl : '/'))
					}
				})
			  })
			}
		}
	}
</script>
